{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

    <base href="/">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% block script %}{% endblock %}

    <head>

        {% if user.is_authenticated %}

            <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
                <div class="container">

                    <div class="navbar-header pull-left">
                        <button onclick="location.href='/report/'" type="button" class="btn btn-default navbar-btn">Home</button>
                    </div>
                    <div class="navbar-header pull-right">
                        <button onclick="location.href='/report/week/add/'" type="button" class="btn btn-default navbar-btn"><span id="button_add_week">Add Week</span></button>
                        <button type="button" class="btn btn-default navbar-btn" disabled="true" id="button_add_day"><span>Add Day</span></button>
                    </div>

                </div>
            </nav>

                    <nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
                <div class="container">
                    <div class="navbar-header pull-left">
                          <span class="navbar-text">Welcome: {{ user.get_username }}</span>
                    </div>
                    <div class="navbar-header pull-right">
                        <button id="button_navbar_bottom" type="button" onclick="location.href='/report/signout'" class="btn btn-default navbar-btn"><span id="button_login"> Logout </span></button>
                    </div>
                </div>
            </nav>

        {% else %}

            <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
                <div class="container">

                    <div class="navbar-header pull-left">
                        <button onclick="location.href='/report/login'" type="button" class="btn btn-default navbar-btn"><span>Login</span></button>
                    </div>
                    <div class="navbar-header pull-right">
                        <button onclick="location.href='/report/signup/'" type="button" class="btn btn-default navbar-btn"><span>SignUp</span></button>
                    </div>

                </div>
            </nav>



        {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>

        <div class="container-fluid">


            <h2>{% block h1 %}{% endblock %}</h2>

            {% block content %}{% endblock %}

            {% block footer %}{% endblock %}


        </div>

    </body>

    <script>

var userAgent = navigator.userAgent
if (/android/i.test(userAgent)) {
(function ($) {
$('input').focus( function() {
    $('.navbar-fixed-bottom').hide();
});
$('textarea').focus( function() {
    $('.navbar-fixed-bottom').hide();
});
$('input').blur( function() {
    $('.navbar-fixed-bottom').show();
});
$('textarea').blur( function() {
    $('.navbar-fixed-bottom').show();
});
}(jQuery));
}

</script>

</html>

