<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

    <link rel="stylesheet" href="/static/stylesheet.css">

    <body id="bodyprint">

    <h1>Weekly report for: {{ user }}</h1>

    <h1>{{ name }}</h1>

        <table class = "blueTable">
            <thead>
                <tr>
                    <th class="th-print-1">DATE</th>
                    <th class="th-print-2">IN</th>
                    <th class="th-print-3">OUT</th>
                    <th class="th-print-4">Lunch</th>
                    <th class="th-print-5">Travel</th>
                    <th class="th-print-5">Extra</th>
                    <th class="th-print-6">Total</th>
                    <th class="th-print-7">Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for day in days_in_week %}
            <tr class="tr-print" >
                <td class="td-print">{{ day.start_date|date:"D M d" }}</td>
                <td class="td-print">{{ day.start_time|time:"h:i a" }}</td>
                <td class="td-print">{{ day.end_time|time:"h:i a" }}</td>
                <td class="td-print">{{ day.lunch_time }}</td>
                <td class="td-print">{{ day.travel_time }}</td>
                <td class="td-print">{{ day.extra_time }}</td>
                <td class="td-print">{{ day.hours_worked }}</td>
                <td id="tdcomment">{{ day.comments }}</td>
                {% endfor %}

            </tr>


            <tr>

                <td colspan="6"></td>
                <td>{{ miscelaneous }}</td>
                <td id="tdcomment"><--Miscellaneous</td>

            </tr>

                <tr>

                <td colspan="6"></td>
                <td class="tdprinttotal">{{ hours }}</td>
                <td id="tdcomment"><--Total</td>

            </tr>

            </tbody>
        </table>
        <br>

        <table>
            <tr><td class="tdfooter">Comments: {{ comments }}</td></tr>
        </table>

    {% block div %}{% endblock %}


    {% if messages %}

<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %}

    </body>

</html>