


{% extends "base.html" %}

{% load staticfiles %}

{% block h1 %}
<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
Signup
    </div>
</div>
{% endblock %}

{% block content %}

            <form class = "form-horizontal" action = "" method="post" name="authenticate">
                {% csrf_token %}

                {% for field in form %}

                    <span>{{ field.errors }}</span>
                    <div>{{ field.label_tag }}</div>
                    <div>{{ field }}</div>
                    <br>

                {% endfor %}
                <br>
                <button type="submit">Submit</button>
                <br>
            </form>

            <script type="text/javascript">
                (function ($) {
                $(document).ready(function(){
                $(".navbar-fixed-top").hide();
                $("a#a_navbar_bottom").text("Login");
                $("a#a_navbar_bottom").attr("href", "/report/login/");

                });
                }(jQuery));

                document.ready=autocap()
                function autocap(){
                document.getElementById("id_username").autocapitalize = "none";

                }
            </script>


{% endblock %}