
{% extends "base.html" %}

{% block h1 %} {{name}} {% endblock %}

{% block content %}

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-8 col-xl-6">

                    <table class="table table-bordered">

                        <th>DATE</th>
                        <th>Check IN</th>
                        <th>Check OUT</th>
                        <th>Total Hours</th>
                        <th>Action</th>
                            {% for day in days_in_week %}

                        <form name="form_main" id="form_main{{ day.id }}", method="post", action="{% url 'report:view_day_delete' day.id week_id%}", onSubmit="">
                            {% csrf_token %}
                         <input type="hidden", name="day.id", value="{{ day.id }}"/>
                        <tr>
                            <td style="cursor:pointer" onclick="location.href='/report/day/{{day.pk}}/{{ week_id }}/'">{{ day.start_date|date:"D M d" }}</td>
                            <td style="cursor:pointer" onclick="location.href='/report/day/{{day.pk}}/{{ week_id }}/'">{{ day.start_time }}</td>
                            <td style="cursor:pointer" onclick="location.href='/report/day/{{day.pk}}/{{ week_id }}/'">{{ day.end_time }}</td>
                            <td style="cursor:pointer" onclick="location.href='/report/day/{{day.pk}}/{{ week_id }}/'">{{ day.hours_worked }}</td>
                            <td >
                                <button type="submit", class="btn btn-default btn-s", id="ButtonDelete" onclick="event.preventDefault();$('<div></div>').html('Do you want to delete this day?').dialog({title: 'Confirm', resizable: false, modal: true,buttons: {'Yes': function() {$(this).dialog('close');$('#form_main{{ day.id }}').submit();},'No': function() {$(this).dialog('close');}},close: function (event, ui) {$(this).remove();},});">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            </td>
                        </tr>
                        </form>

                            {% endfor %}
                    </table>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-4 col-md-2">Total Hours: {{ hours }}</div>

                <div class="col-xs-8 col-md-2">Comments: {{ comments }}</div>

            </div>

<hr />

        <div class="row">

            <div class="col-xs-1 col-xs-offset-1"><a href="/report/week/{{ week_id }}/update/"><button class="btn btn-primary">Edit week</button></a></div>
            <div class="col-xs-1 col-xs-offset-3"><a href="/report/week/{{ week_id }}/?action=preview"><button class="btn btn-primary">Preview</button></a></div>

        </div>

    {% if messages %}

    <script>
    {% for message in messages %}


    alert("{{ message }}")
    Message()
    {% endfor %}
    </script>

{% endif %}

<script type="text/javascript">

function Message(){
    $('<div></div>').html('Do you want to delete WEEK Of Oc).dialog({title: 'Confirm',
    resizable: false, modal: true,
    buttons: {'Yes': function() {$(this).dialog('close');
    $('#form_main3').submit();},
    'No': function() {$(this).dialog('close');}}
    ,close: function (event, ui) {$(this).remove();},
    });}


document.onload=enableAddDay({{ week_id }})

function enableAddDay(week_id){
document.getElementById("button_add_day").onclick =  function () {location.href = "/report/day/add/{{ week_id }}";}
document.getElementById("button_add_day").disabled = false;

}

</script>

{% endblock %}