
body {
    padding-top: 45px;
    padding-bottom: 55px;
    background: LIGHTCYAN !important;
}

a {
    padding-top: 4px;
    padding-bottom: 5px;

}

textarea {
    height: 8em !important;

}

.form-control {
    padding: 5px;
    margin-bottom: 10px !important;
}

.ui-timepicker-select {
    margin-bottom: 10px !important;
    height:30px !important;
}

.navbar {
    padding: 0px;
    margin-bottom: 0px !important;
}

.navbar-btn {
    margin-right: 4px;
    margin-left: 4px;
    width: 90px !important;

    }

.btn-primary{

    width: 90px !important;

}


.navbar-text{
    margin-left: 4px;
    font-size: 20px;

}


#check_week {
    border: 0px;
    box-shadow: 0px;

}

#id_username {
    margin-bottom: 10px;
    box-shadow: 1px;

}