
{% extends "base.html" %}

{% load staticfiles %}

{% block h1 %}
<div class="center-div">
Login
</div>
{% endblock %}

{% block content %}

                    <div class="center-div">

            <form class = "form-horizontal" action = "" method="post" name="authenticate">
                {% csrf_token %}

                        {{ form.as_p }}

                <br>
                <button type="submit">Submit</button>
                <br>
            </form>
                </div>
            <script type="text/javascript">

                document.ready=autocap()
                function autocap(){
                document.getElementById("id_username").autocapitalize = "none";

                }
            </script>

{% endblock %}